extends base

//- id is createItem
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create Item
      form.form.form--createItem
        .form__group
          label.form__label(for='symbol') Symbol
          p#symbol.form__input(type='symbol')= `${symbol}-USD`
        .form__group
          label.form__label(for='price') Price
          p#price.form__input(type='price')= price
        .form__group
          label.form__label(for='maxPrice') Max Price
          input#maxPrice.form__input(type='maxPrice', placeholder='Max Price must be greater than the Price', required)
        .form__group
          label.form__label(for='minPrice') Min Price
          input#minPrice.form__input(type='minPrice', placeholder='Min Price must be less than the Price', required)
        .form__group
          label.form__label(for='duration') Duration
          input#duration.form__input(type='duration', placeholder='Please put in Number', required)
        .form__group
          button.btn.btn--green(href='/sniper') Create