extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create Item
      form.form.form--createItem
        .form__group
          label.form__label(for='symbol') Symbol
          p#symbol.form__input(type='text')= `${symbol}-USD`
        .form__group
          label.form__label(for='price') Price
          p#price.form__input(type='number')= price
        .form__group
          label.form__label(for='maxPrice') Max Price
          input#maxPrice.form__input(type='number', min='0', placeholder='9999', required)
        .form__group
          label.form__label(for='minPrice') Min Price
          input#minPrice.form__input(type='number', min='0', placeholder='1', required)
        .form__group
          label.form__label(for='duration') Duration
          input#duration.form__input(type='number', min='0', max='365', placeholder='e.g. 7 for a week', required)
        .form__group
          button.btn.btn--green(href='/sniper') Create